*{
    font-family: "Poppins", sans-serif;
}

.bangla_font{
    font-family: "Hind Siliguri", sans-serif;
}

html {
    scroll-behavior: smooth ;
}

.active{
    background-color: #422AD5;
    color: white;
}